@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <h1>WELCOME TO</h1>
    <h1>COURSE REGISTRATION</h1>
    <button class="button button1"><a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Course">Course</a></button>
    <button class="button button2"><a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Instructor">Instructor</a></button>
    <button class="button button3"><a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Student">Student</a></button>
    
</body>

</html>
